<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Ecom.login" />
			<class name="Ecom.AddProductt" />
			<class name="Ecom.placeAnOrder" />
			<class name="Ecom.DeleteProduct" />


		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
